.buttons {
    display: flexbox;
    margin: 20%;
}

.b1,
.b2,
.b3,
.b4 {
    margin-bottom: 25px;

}

.button {
    border-radius: 100%;
    background-color: transparent;
    border-color: white;
    border-style: double;
    height: 50px;
    width: 50px;
}

.buttonText {
    font: 500;
    color: white;
}